.Dictionary section {
    border-radius: 6px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
    padding: 30px;
    font-size: 24px;
    background:#264301;
    color: #d3e3b6;
    margin-top: 20px;
}

.Dictionary h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Dictionary input{
    width: 100%;
    border-radius: 6px;
    border: 1px solid #264301;
    padding: 4px auto;
    
}

.Dictionary hint{
font-size:12px;
margin-top: 5px;}