.Phonetics{
    height: 50px;
}

.Phonetics a {
    border: 1px solid #264301;
    background-color: #d6f58e;
    color: #264301;
    text-decoration: none;
    padding: 12px 12px;
    font-size: 14px;
    border-radius: 15px;
    margin-right: 10px;
    transition: all 150ms ease-in-out;
}

.Phonetics a:hover{
    background: #d3e3b6
}